<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Pour les notifications -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage,SelectedPhotoAccess" />
    <!-- Required for calling functionality -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- If you want to save contact photos to storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage" />


    <application
        android:allowBackup="true"
        android:name=".HealthApp"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApplicationProject"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.applicationproject.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>



        <activity android:name="welcome.WelcomeActivity"/>
        <activity android:name="welcome.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Déclaration de l'activité SignUpActivity -->
        <activity android:name="login.SignUpActivity" />

        <!-- Déclaration de l'activité LoginActivity -->
        <activity android:name="login.LoginActivity" />


        <!-- Déclaration de l'activité HeyActivity -->
        <activity android:name=".HomeActivity" />
        <activity android:name="services.Appointement.ApptsActivity"/>
        <activity android:name="services.SchedActivity"/>
        <activity android:name="services.contacts.ContactsActivity"/>




        <!-- AddContactActivity -->
        <activity
            android:name="services.contacts.AddContactActivity"
            android:exported="false"
            android:label="Add Contact"
            android:parentActivityName="services.contacts.ContactsActivity"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="services.contacts.ContactsActivity" />
        </activity>

        <activity android:name="services.prescriptions.PrescriptionsActivity" />
        <activity android:name="services.prescriptions.AddPrescriptionActivity" />
        <activity android:name="services.prescriptions.FullScreenImageActivity" />

        <activity
            android:name="account.AccountSettingsActivity"
            android:exported="false" />
        <activity
            android:name="account.ProfileActivity"
            android:exported="false" />

        <activity
            android:name="services.Appointement.AddAppointmentActivity"
            android:exported="false"
            android:label="Ajouter un rendez-vous" />
        <activity android:name="services.Medicaments.AddMedicamentActivity"/>
        <activity android:name="services.Medicaments.medicament_activity"/>
        <receiver android:name="services.Medicaments.AlarmReceiver" android:exported="false"/>
        <!-- Activité du chatbot -->
        <activity
            android:name=".chatbot.ChatbotActivity"
            android:exported="false"
            android:label="Assistant virtuel"
            android:windowSoftInputMode="adjustResize" />


    </application>

</manifest>